*{box-sizing: border-box;
    margin: 0;
    padding: 0;

}
div{width:1200px ;
height: 600px;
background-color: cadetblue;
border-radius: 20px;
position: relative; 
padding: 150px 45px;
background-image: url(https://media.istockphoto.com/id/1129813604/photo/empty-minimalist-room-with-gray-wall-on-background.jpg?s=612x612&w=0&k=20&c=56EjJTKfoXHWrbPZn9FXt4kWcJf2OwUj6pnh4zFSo6U=);
margin:200px auto;
background-size: cover;
background-repeat: no-repeat;
}
h1{
    font-size: 60px;
    color: white;
font-family:'Times New Roman', Times, serif ;;

}
p{
    font-size: 25px;
    color: darkviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
img{
    position: absolute;
    width: 500px;
    left: 682px;
    top: 323px;

}